body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
    Geneva, Verdana, sans-serif;
    }    
.header{
    height: 4em;
    padding: 3em;
    font-size: 2em;
    background: #FC466B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(230, 96%, 62%, 0.6), hsla(348, 97%, 63%, 0.6)), url(../images/header.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(230, 96%, 62%, 0.6), hsla(348, 97%, 63%, 0.6)), url(../images/header.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    }
.header h1{
    margin: 0px;
    font-weight: 400;
    }
.products {
    width: 85%;
    margin: auto;
    }
.products td{
    width: 50%;
    padding: 2em;
    }
.products img{
    width: 100%;
    border: solid 1px rgb(142, 95, 138);
    }
.footer{
    height: 3em;
    line-height: 3em;
    background: #FC466B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    text-align: center;
    font-weight: 900;
    }
            